@import "tailwindcss";
@theme {
  --color-primary: #f7faff;
  --color-secondary: #111827;
  --color-accent: #111827;
  --color-gold: #e29816;
}
/* Customize the entire scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: transparent; /* Tailwind color equivalent: bg-gray-100 */
}

/* Customize the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Tailwind color equivalent: bg-gray-500 */
  border-radius: 4px; /* Add rounded corners */
}

html,
body {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

#root {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}
